body {
    justify-content: center;
    align-items: center;
    background: #465973;
    font-family: 'PT Sans', sans-serif;
}

.error {
    color: red;
}

.alert {
    background-color: #f44336;
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.wyswietlanie {
    height: 500px;
    overflow: auto;
}


/*menu*/

.blink-text-menu {
    font-size: 50px;
    list-style-type: none;
    width: fit-content;
    margin: 250px auto auto auto;
}

.blink-text-menu li a {
    position: relative;
    display: flex;
    padding: 6px;
    color: white;
    font-family: Lato, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.blink-text-menu li a span {
    position: relative;
    overflow: hidden;
    transition: 0.6s;
}

.blink-text-menu li a span .out {
    display: inline-flex;
}

.blink-text-menu li a span .in {
    position: absolute;
    left: 0;
    opacity: 0;
    transform: translateX(100%);
}

.blink-text-menu li a:hover span .out {
    opacity: 0;
    transform: translateX(-100%);
}

.blink-text-menu li a:hover span .in {
    opacity: 1;
    transform: translateX(0);
}

a:link {
    color: white;
}

#stopka {
    position: fixed;
    height: 40px;
    width: 100%;
    right: 0.5px;
    background-color: #465973;
    bottom: 0;
    text-align: center;
    font-size: 19px;
    color: white;
}

h1 {
    font-size: 39px;
    text-align: center;
    color: rgb(255, 255, 255);
    top: 5%;
}


/*animacja karty profilu*/

.profilAnim {
    animation-name: ProfilAnim;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    overflow: hidden;
}

.profilAnimRev {
    animation-name: ProfilAnimRev;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    overflow: hidden;
    animation-fill-mode: forwards;
}


/*Uczeń i Nauczyciel konrad robil*/

.tab-contents {
    width: 500px;
    height: 600px;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: 48%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    background-color: #B3DBE1;
}

.tab-content {
    display: none;
}

.tab-content-active {
    display: block;
}

.tab-el {
    border-radius: 15px 15px 0 0;
    transition: 0.1s all;
}

.close {
    text-decoration: none;
    margin-left: 5px;
}

.close:hover {
    cursor: pointer;
    /*pokazuje palec po najechaniu*/
}

.plan {
    background: none;
    border: none;
}

.plan:hover {
    cursor: pointer;
}


/*w karcie profilu*/

p {
    font-size: 25px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 2px;
}

.img {
    text-align: center;
}

#login {
    text-align: center;
}

#dane {
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}

input {
    border: none;
    border-radius: 5px;
}

.tlo input {
    border: none;
    border-radius: 5px;
    background-color: #B3DBE1;
}

.tlo {
    background-color: rgba(0, 139, 139, 0.275);
    width: auto;
    height: auto;
    border-radius: 19px;
}

input:hover {
    cursor: pointer;
    /*pokazuje palec po najechaniu*/
}


/* unvisited link */

a:link {
    color: #465973;
    text-decoration: none;
}


/* visited link */

a:visited {
    color: #465973;
}


/* mouse over link */

a:hover {
    color: #14191f;
}


/* selected link */

a:active {
    color: rgb(255, 255, 255);
}

.back {
    color: azure;
    border: solid;
    border-radius: 7px;
}

.back:visited {
    color: azure;
}

.back:active {
    color: rgb(67, 60, 60);
}

.back:hover {
    color: rgb(197, 180, 180);
}


/* Responsywność */


/* 1080p */

@media only screen and (min-height:1030px) and (min-width:1870px) {
    h1 {
        font-size: 40px;
    }
    .tab-content {
        font-size: 20px;
    }
    #stopka {
        font-size: 15px;
    }
}


/* 1440p */

@media only screen and (min-width: 2500px) and (min-height: 1390px) {
    h1 {
        font-size: 50px;
    }
    .tab-content {
        font-size: 25px;
    }
    #stopka {
        font-size: 20px;
    }
}


/* Tablet */

@media only screen and (max-width: 1100px) {
    h1 {
        font-size: 30px;
    }
    .close {
        position: relative;
    }
    .tab-content {
        font-size: 15px;
    }
    #stopka {
        font-size: 20px;
    }
}


/* Phone */

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 20px;
    }
    .blink-text-menu {
        font-size: 15px;
    }
    .tab-content {
        font-size: 15px;
    }
    #stopka {
        font-size: 15px;
    }
}


/*Animacje*/

@keyframes ProfilAnim {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 600px;
        opacity: 1;
    }
}

@keyframes ProfilAnimRev {
    from {
        height: 600px;
        opacity: 1;
    }
    to {
        height: 0;
        opacity: 0;
    }
}