body {
    justify-content: center;
    align-items: center;
    background: #465973;
    font-family: 'PT Sans', sans-serif;
}

.blink-text-menu {
    list-style-type: none;
    width: fit-content;
    margin: 20% auto auto auto;
}

.blink-text-menu li a {
    position: relative;
    display: flex;
    padding: 6px;
    color: white;
    font-family: Lato, sans-serif;
    text-decoration: none;
    text-align: center;
}

.blink-text-menu li a span {
    position: relative;
    overflow: hidden;
    transition: 0.6s;
}

.blink-text-menu li a span .out {
    display: inline-flex;
}

.blink-text-menu li a span .in {
    position: absolute;
    left: 0;
    opacity: 0;
    transform: translateX(100%);
}

.blink-text-menu li a:hover span .out {
    opacity: 0;
    transform: translateX(-100%);
}

.blink-text-menu li a:hover span .in {
    opacity: 1;
    transform: translateX(0);
}

a:link {
    color: white;
}

#stopka {
    position: fixed;
    height: 40px;
    width: 100%;
    right: 0.5px;
    background-color: #465973;
    bottom: 0;
    text-align: center;
    font-size: 19px;
    color: white;
}

h1 {
    font-size: 39px;
    text-align: center;
    color: rgb(255, 255, 255);
	top:5%;
}
/*Animacja*/

@keyframes zaloguj {
  from {display:none}
  to {background-color: yellow;}
}

/* Profil nauczyciela */

img
{
margin: 100px 0 0 100px;
max-width: 15%;
}

.profilText
{
    display: contents;
    font-size: 4vw;
    color: #465973;
    font-family: 'Dosis', sans-serif;
}

#profil
{
background-color:white;
width:97%;
max-width: 1000px;
height:95%;
border-radius: 5px;
margin: 0;
position: absolute;
top: 48%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
display: none;
background-color: #B3DBE1;
}

#closeProfil
{
float:right;
font-size: 40px;
font-weight: bold;
font-family: 'Dosis', sans-serif;
margin: 0 16px 0 0;
}

#closeProfil:hover
{
cursor: pointer;
}

.profilAnim
{
    animation-name: ProfilAnim;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
	overflow: hidden;
}

.profilAnimRev
{
    animation-name: ProfilAnimRev;
	animation-duration: 0.7s;
	animation-timing-function: ease-out;
	overflow: hidden;
    animation-fill-mode: forwards;
}



@keyframes ProfilAnim {
    from 
    {
        height: 0;
        opacity: 0;
    }
    to 
    {
        height: 95%;
        opacity: 1;
    }
  }
  @keyframes ProfilAnimRev {
    from 
    {
        height: 95%;
        opacity: 1;
    }
    to 
    {
        height: 0;
        opacity: 0; 
    }
  }
