body {
    justify-content: center;
    align-items: center;
    background: #465973;
    font-family: 'PT Sans', sans-serif;
}
.error {
    color: red;
}

.blink-text-menu {
    list-style-type: none;
    width: fit-content;
    margin: 250px auto auto auto;
}

.blink-text-menu li a {
    position: relative;
    display: flex;
    padding: 6px;
    color: white;
    font-family: Lato, sans-serif;
    text-decoration: none;
    text-align: center;
}

.blink-text-menu li a span {
    position: relative;
    overflow: hidden;
    transition: 0.6s;
}

.blink-text-menu li a span .out {
    display: inline-flex;
}

.blink-text-menu li a span .in {
    position: absolute;
    left: 0;
    opacity: 0;
    transform: translateX(100%);
}

.blink-text-menu li a:hover span .out {
    opacity: 0;
    transform: translateX(-100%);
}

.blink-text-menu li a:hover span .in {
    opacity: 1;
    transform: translateX(0);
}

a:link {
    color: white;
}

#stopka {
    position: fixed;
    height: 40px;
    width: 100%;
    right: 0.5px;
    background-color: #465973;
    bottom: 0;
    text-align: center;
    font-size: 19px;
    color: white;
}

h1 {
    font-size: 39px;
    text-align: center;
    color: rgb(255, 255, 255);
    top: 5%;
}


/*Animacja*/

@keyframes zaloguj {
    from {
        display: none
    }
    to {
        background-color: yellow;
    }
}

.profilAnim {
    animation-name: ProfilAnim;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    overflow: hidden;
}

.profilAnimRev {
    animation-name: ProfilAnimRev;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    overflow: hidden;
    animation-fill-mode: forwards;
}


/*Uczeń i Nauczyciel*/

.tab-contents {
    background-color: white;
    width: 500px;
    height: 600px;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: 48%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    background-color: #B3DBE1;
}

.tab-content {
    display: none;
}

.tab-content-active {
    display: block;
}

.tab-el {
    background: var(--color);
    border-radius: 15px 15px 0 0;
    transition: 0.5s background-color;
    background-image: linear-gradient(var(--color) calc(100% - 10px), rgba(0, 0, 0, 0.5));
    margin-right: 2px;
    transition: 0.1s all;
}

.tab-el-active {
    background: var(--color-active);
    box-shadow: none;
    margin-left: 0;
}

.close {
    text-decoration: none;
    margin-left: 5px;
}

.close:hover {
    cursor: pointer;
}

.plan {
    background-color: aquamarine;
    border-radius: 1px;
    border-color: blueviolet;
}


/*Animacje*/

@keyframes ProfilAnim {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 600px;
        opacity: 1;
    }
}

@keyframes ProfilAnimRev {
    from {
        height: 600px;
        opacity: 1;
    }
    to {
        height: 0;
        opacity: 0;
    }
}

p {
    font-size: 25px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 2px;
}

.img {
    text-align: center;
}

#login {
    text-align: center;
}


/* unvisited link */

a:link {
    color: #465973;
    text-decoration: none;
}


/* visited link */

a:visited {
    color: #465973;
}


/* mouse over link */

a:hover {
    color: #14191f;
}


/* selected link */

a:active {
    color: rgb(255, 255, 255);
}

/* Responsywność */


/* 1080p */

@media only screen and (min-height:1030px) and (min-width:1870px){

}

/* 1440p */

@media only screen and (min-width: 2500px) and (min-height: 1390px){
    
}


/* Tablet */

@media only screen and (max-width: 1100px){

}

/* Phone */
@media only screen and (max-width: 500px){

}